@model IdentityBase.Actions.Login.LoginViewModel
<div class="login-page">
    <div class="page-header">
        <h1 localize="">Login</h1>
    </div>
    @Html.Partial("_ValidationSummary")
    <div class="row">
        <div class="col-sm-6" show-if="@Model.EnableLocalLogin">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"
                        localize="">
                        Local Account
                    </h3>
                </div>
                <div class="panel-body">
                    <form asp-controller="Login"
                          asp-action="Login"
                          asp-route-returnUrl="@Model.ReturnUrl"
                          novalidate>
                        <fieldset>
                            @foreach (var component in Model.FormModel.FormElements)
                            {
                                await Html.RenderPartialAsync(component.ViewName, component.Model);
                            }
                        </fieldset>
                    </form>
                    <ul class="list-inline">
                        <li show-if="@Model.EnableAccountRecover">
                            <a asp-route="Recover"
                               asp-route-returnUrl="@Model.ReturnUrl"
                               localize="">Forgot password?</a>
                        </li>
                        <li show-if="@Model.EnableAccountRegistration">
                            <a asp-route="Register"
                               asp-route-returnUrl="@Model.ReturnUrl"
                               localize="">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        @Html.Partial("_ExternalLogins", Model)
    </div>
</div>
