@model IdentityBase.Actions.Register.RegisterViewModel

<div class="login-page">
    <div class="page-header">
        <h1 localize="">Register</h1>
    </div>

    @Html.Partial("_ValidationSummary")

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"
                        localize="">
                        Local Account
                    </h3>
                </div>
                <div class="panel-body">

                    <form asp-controller="Register"
                          asp-action="Index"
                          asp-route-returnUrl="@Model.ReturnUrl" novalidate>

                        <fieldset>
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input class="form-control"
                                       placeholder="@Localizer["Enter email"]"
                                       asp-for="Email" autofocus>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input type="password"
                                       class="form-control"
                                       placeholder="@Localizer["Enter password"]"
                                       asp-for="Password"
                                       autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label asp-for="PasswordConfirm"></label>
                                <input type="password"
                                       class="form-control"
                                       placeholder="@Localizer["Enter password"]"
                                       asp-for="PasswordConfirm"
                                       autocomplete="off">
                            </div>

                            <div class="form-group">
                                <button class="btn btn-primary" localize="">
                                    Register
                                </button>
                            </div>
                        </fieldset>
                    </form>

                    <ul class="list-inline">
                        <li show-if="@Model.EnableLocalLogin">
                            <a asp-route="Login"
                               asp-route-returnUrl="@Model.ReturnUrl"
                               localize="">Login</a>
                        </li>
                        <li show-if="@Model.EnableAccountRecover">
                            <a asp-route="Recover"
                               asp-route-returnUrl="@Model.ReturnUrl"
                               localize="">Forgot password?</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        @Html.Partial("_ExternalLogins", Model)
    </div>
</div>