@model IdentityBase.Mvc.AccountMenuViewModel
@using ServiceBase

<ul class="nav flex-column">
    @foreach (var item in Model.Items)
    {
        <li id="@item.Name" class="nav-item">
            <a class="nav-link"
                asp-route="@item.Route"
                asp-route-clientId="@Model.ClientId"
                asp-route-returnUrl="@Model.ReturnUrl">
                @Localizer[item.Name.HumanizeCamelCased().Capitalize()]
            </a>
        </li>
    }
</ul>
