@model IdentityBase.Actions.Recover.RecoverViewModel

<div class="login-page">
    <div class="page-header">
        <h1 localize="">Recover Account</h1>
    </div>

    @Html.Partial("_ValidationSummary")

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"
                        localize="">Local Account</h3>
                </div>
                <div class="panel-body">

                    <form asp-controller="Recover"
                          asp-action="Index"
                          asp-route-returnUrl="@Model.ReturnUrl"
                          novalidate>

                        <fieldset>
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input class="form-control"
                                       placeholder="@Localizer["Enter email"]"
                                       asp-for="Email" autofocus>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-primary"
                                        localize="">Recover</button>
                            </div>
                        </fieldset>
                    </form>

                    <ul class="list-inline">
                        <li show-if="@Model.EnableLocalLogin">
                            <a asp-route="Login"
                               asp-route-returnUrl="@Model.ReturnUrl"
                               localize="">Login</a>
                        </li>
                        <li show-if="@Model.EnableAccountRegistration">
                            <a asp-route="Register"
                               asp-route-returnUrl="@Model.ReturnUrl"
                               localize="">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        @Html.Partial("_ExternalLogins", Model)
    </div>
</div>