@using IdentityServer4.Extensions
@{
    string name = null;
    if (!true.Equals(this.ViewData["signed-out"]))
    {
        var user = this.Context.User;
        name = user?.FindFirst("name")?.Value;
    }

    string clientUri = IdentityBaseContext?.Client?.ClientUri;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>IdentityBase</title>
    <link rel="icon" type="image/x-icon" href="~/DefaultTheme/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/DefaultTheme/favicon.ico" />
    <link rel="stylesheet" href="~/DefaultTheme/css/theme.min.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="@clientUri">
                <img src="~/DefaultTheme/icon.png"
                     class="icon-banner"> <span class="navbar-brand"> <span localize="">IdentityBase</span></span>
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto"></ul>
                @if (name != null)
                {
                    <ul class="navbar-nav my-2 my-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               href="#"
                               id="dropdown01"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">@name</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                <a class="dropdown-item"
                                   asp-route="AccountProfile"
                                   asp-route-clientId="@IdentityBaseContext.Client?.ClientId"
                                   asp-route-returnUrl="@IdentityBaseContext.ReturnUrl"
                                   localize="">Account</a>
                                <a class="dropdown-item"
                                   asp-route="Logout"
                                   asp-route-clientId="@IdentityBaseContext.Client?.ClientId"
                                   asp-route-logoutId="@IdentityBaseContext.LogoutId"
                                   localize="">Logout</a>
                            </div>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </nav>
    <main role="main" class="container mt-2">
        @RenderBody()
        @if (clientUri != null)
        {
            <div class="page-footer">
                <span>
                    <a href="@IdentityBaseContext.Client.ClientUri">Click here to return to the @IdentityBaseContext.Client.ClientName application.</a>
                </span>
            </div>
        }
    </main>
    <script src="~/DefaultTheme/js/theme.min.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
