@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Hosting;
@inject IHtmlLocalizer<SharedResources> Localizer
@inject ApplicationOptions options
@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <h1 id="user-loggedinas">@Localizer["LoggedInAs"] @User.Identity.Name</h1>
}
else
{
    <h1 id="user-notloggedin">@Localizer["NotLoggedIn"]</h1>
}

<div class="panel" id="panel-application-options">
    <h3>Application Settings</h3>
    Api1BaseAddress: <span id="Api1BaseAddress">@options.Api1BaseAddress</span><br>
    Authority: <span id="Authority">@options.Authority</span><br>
    ClientId: <span id="ClientId">@options.ClientId</span><br>
    ClientSecret: <span id="ClientSecret">@options.ClientSecret</span>
</div>