@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Hosting;
@inject IHtmlLocalizer<SharedResources> Localizer
@inject ApplicationOptions options
@{
    ViewData["Title"] = "Home Page";
}
<h1 class="mt-4" >Home</h1>
@if (User.Identity.IsAuthenticated)
{
    <h3 id="user-loggedinas">@Localizer["LoggedInAs"] @User.Identity.Name</h3>
}
else
{
    <h3 id="user-notloggedin">@Localizer["NotLoggedIn"]</h3>
}

<br/>
<div class="panel" id="panel-application-options">
    <h3>Application Settings</h3>
<pre>Api1BaseAddress: <span id="Api1BaseAddress">@options.Api1BaseAddress</span>
Authority: <span id="Authority">@options.Authority</span>
ClientId: <span id="ClientId">@options.ClientId</span>
ClientSecret: <span id="ClientSecret">@options.ClientSecret</span></pre>
</div>