@using Microsoft.AspNetCore.Authentication
@{
    ViewData["Title"] = "Secure Page";
}
<h1 class="mt-4">Secure Page</h1>
<div class="panel mb-3">
    <a id="btn-renew-tokens" class="btn btn-primary" href="~/renew-tokens">Renew user token</a>
    <a id="btn-callapi-user-token" class="btn btn-primary" href="~/callapi-user-token">Call API using user token</a>
    <a id="btn-callapi-client-credentials" class="btn btn-primary" href="~/callapi-client-credentials">Call API using client crendentials</a>
    <!--<a class="btn btn-primary" href="~/invite">Invite User Account</a>-->
</div>
@{
    string it = await Context.GetTokenAsync("id_token");
    string at = await Context.GetTokenAsync("access_token");
    string rt = await Context.GetTokenAsync("refresh_token");
}
<div>
    <dl>
        @if (it != null)
        {
            <dt>id_token</dt>
            <dd><pre id="id_token">@it</pre></dd>
        }
        @if (at != null)
        {
            <dt>access_token</dt>
            <dd><pre id="access_token">@at</pre></dd>
        }
        @if (rt != null)
        {
            <dt>refresh_token</dt>
            <dd><pre id="refresh_token">@rt</pre></dd>
        }
        @foreach (var claim in User.Claims)
        {
            <dt>@claim.Type</dt>
            <dd><pre id="claim-@claim.Type">@claim.Value</pre></dd>
        }
    </dl>
</div>