@model IdentityBase.Actions.AccountChangePassword.ChangePasswordViewModel

<div class="login-page">
    <div class="page-header">
        <h1 localize="">User account</h1>
    </div>

    <div class="row">
        <div class="col-md-3">
            @await Component.InvokeAsync("AccountMenu")
        </div>
        <div class="col-md-9">

            <h4 localize="">Change password</h4>
            @Html.Partial("_ValidationSummary")

            <div class="row">
                <div class="col-md-6">
                    <form id="formProfile"
                          method="post"
                          asp-route="AccountChangePassword"
                          asp-route-clientId="@Model.ClientId"
                          novalidate="novalidate">
                        
                        @if (Model.HasPassword)
                        {
                            <div class="form-group">
                                <label asp-for="PasswordCurrent" localize="">Current password</label>
                                <input type="password"
                                       class="form-control"
                                       placeholder="@Localizer["Enter password"]"
                                       asp-for="PasswordCurrent"
                                       autocomplete="off" />
                                <span asp-validation-for="PasswordCurrent" class="text-danger"></span>
                            </div>
                        }

                        <div class="form-group">
                            <label asp-for="Password" localize="">Password</label>
                            <input type="password"
                                   class="form-control"
                                   placeholder="@Localizer["Enter password"]"
                                   asp-for="Password"
                                   autocomplete="off" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="PasswordConfirm" localize="">Repeat password</label>
                            <input type="password"
                                   class="form-control"
                                   placeholder="@Localizer["Enter password"]"
                                   asp-for="PasswordConfirm"
                                   autocomplete="off" />
                            <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary" localize="">
                                Update password
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>